# Safaera Ataque de Tiburón

### Escaleta

In [1]:
def escaleta():
    '''
    1. #dimensiones de la tabla
    2. #solo hay dos !00% numéricas
    3. #100% numéricas: año y original order
    4. #espacio que ocupa
    5. #Edición de Encabezados de columnas, estandarizadas en minúscula y sin espacios
    6. #Contar casos unicos y frecuencia
    7. #Manejo de valores nulos
    8. 
    '''
    return None

help(escaleta)

Help on function escaleta in module __main__:

escaleta()
    1. #dimensiones de la tabla
    2. #solo hay dos !00% numéricas
    3. #100% numéricas: año y original order
    4. #espacio que ocupa
    5. #Edición de Encabezados de columnas, estandarizadas en minúscula y sin espacios
    6. #Contar casos unicos y frecuencia
    7. #Manejo de valores nulos
    8.

## Importación de Librerías

In [2]:
%pip install ipython
%pip install pandas
%pip install seaborn
%matplotlib inline

Requirement already satisfied: ipython in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (7.31.1)
Requirement already satisfied: traitlets>=4.2 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (5.1.1)
Requirement already satisfied: pickleshare in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (0.7.5)
Requirement already satisfied: appnope in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (0.1.2)
Requirement already satisfied: backcall in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (0.18.1)
Requirement already satisfied: decorator in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (63.4.1)
Requirement already satisfied: matplotlib-inline in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (0.1.6)
Requirement already satisfied: pygments in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from ipython) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: pandas>=0.23 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.4.4)
Requirement already satisfied: scipy>=1.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.9.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: packaging>=20.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /Users/monicaclaroscadima/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import pylab as plt   
import seaborn as sns
import datetime
import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

# Exploración de archivo .csv

In [4]:
attacks = pd.read_csv('./data/attacks_2.csv', encoding='latin-1')
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

###### dimensiones de la tabla

dim_original = attacks.shape

attacks.shape

In [5]:
#solo hay dos !00% numéricas
attacks._get_numeric_data().shape

(25723, 2)

In [6]:
#100% numéricas: año y original order

attacks.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [7]:
#espacio que ocupa
attacks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [8]:
#Edición de Encabezados de columnas, estandarizadas en minúscula, sin espacios

attacks.columns = [e.lower().replace(' ', '_').replace(':', '').replace('.', '_') for e in attacks.columns]

attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

In [9]:
attacks.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

In [10]:
#Contar casos unicos y frecuencia

attacks.describe(include='object').T

,count,unique,top,freq
case_number,8702,6287,0,2400
date,6302,5433,1957,11
type,6298,8,Unprovoked,4595
country,6252,212,USA,2229
area,5847,825,Florida,1037
location,5762,4108,"New Smyrna Beach, Volusia County",163
activity,5758,1532,Surfing,971
name,6092,5230,male,550
sex_,5737,6,M,5094
age,3471,157,17,154
injury,6274,3737,FATAL,802
fatal_(y/n),5763,8,N,4293
time,2948,366,Afternoon,187
species_,3464,1549,White shark,163
investigator_or_source,6285,4969,"C. Moore, GSAF",105
pdf,6302,6291,1923.00.00.a-NJ fisherman.pdf,2
href_formula,6301,6290,http://sharkattackfile.net/spreadsheets/pdf_di...,2
href,6302,6285,http://sharkattackfile.net/spreadsheets/pdf_di...,4
case_number_1,6302,6285,1920.00.00.b,2
case_number_2,6302,6286,1920.00.00.b,2
unnamed_22,1,1,stopped here,1
unnamed_23,2,2,Teramo,1

In [11]:
#estadística con numéricos

attacks.describe().T.style.format('{:.5f}')

## Manejo de valores nulos

In [12]:
# Contar valores nulos

nan_cols = attacks.isna().sum()

nan_cols[nan_cols>0]

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex_                      19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species_                  22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number_1             19421
case_number_2             19421
original_order            19414
unnamed_22                25722
unnamed_23                25721
dtype: int64

In [13]:
attacks.isna().head()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed_22,unnamed_23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [14]:
df= attacks.drop(columns = nan_cols[nan_cols>6000].index, inplace=True)